<section class="main">
  <div class="container">
    <h1>Главная страница</h1>
    <nav class="main__nav">
      <ul class="list main__list">
        <li class="list__item">
          <a class="link" (click)="linkToContact()">contact</a>
        </li>
        <li class="list__item">
          <a class="link" (click)="linkToAbout()">about</a>
        </li>
        <li class="list__item">
          <a class="link" (click)="linkToItem()">item</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

