.header{

  padding: 36px 0;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav{
    display: flex;
    width: 243px;
    justify-content: space-between;
  }

  &__btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 18.5px;
  }

}
