<div class="container">
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="posts">Посты</a>
      </li>
    </ul>
  </nav>

  <div class="role">
    <p>Текущая роль: {{getRole()}}</p>
    <button type="button" class="btn btn-primary" (click)="switchRole()">Изменить</button>
  </div>

  <router-outlet></router-outlet>
</div>

