
<div class="container">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" (click)="getPosts()">get posts</button>
    <button type="button" class="btn btn-outline-primary" (click)="getCommentsById()">get comments</button>
    <button type="button" class="btn btn-outline-primary" (click)="postNewPost()">post query</button>
    <button type="button" class="btn btn-outline-primary" (click)="getPost()">get post</button>
    <button type="button" class="btn btn-outline-primary" (click)="getPostWithHeader()">get posts with header</button>
    <button type="button" class="btn btn-outline-primary" (click)="deletePost()">delete</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="post">to the post</button>
  </div>
</div>

<router-outlet></router-outlet>
