<div class="container">
  <form>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Название книги</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder"
             required
             pattern="[а-яА-ЯёЁ]*"
             #title="ngModel"
             name="title"
             [ngClass]="{
             'border-success': title.valid && title.touched,
             'border-error': title.invalid && title.touched}"
             [(ngModel)]="addedBook.title">
    </div>
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div
        *ngIf="title.hasError('pattern')"
        class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          Поле должно содержать русские символы и не должно быть спец символов, цифр или пробелов
        </div>
      </div>
      <div
        *ngIf="title.hasError('required')"
        class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          Поле должно быть заполнено
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Автор</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder"
             required
             pattern="[а-яА-ЯёЁ]*"
             #author="ngModel"
             name="author"
             [ngClass]="{
             'border-success': author.valid && author.touched,
             'border-error': author.invalid && author.touched}"
             [(ngModel)]="addedBook.author">
    </div>
    <div *ngIf="author.invalid && (author.dirty || author.touched)">
      <div
        *ngIf="author.hasError('pattern')"
        class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          Поле должно содержать русские символы и не должно быть спец символов, цифр или пробелов
        </div>
      </div>
      <div
        *ngIf="author.hasError('required')"
        class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          Поле должно быть заполнено
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="title.invalid || author.invalid" (click)="onSubmit()">Добавить</button>
  </form>
</div>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название книги</th>
    <th scope="col">Автор</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <th scope="row">{{book.id}}</th>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
