.recipe-main{
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 64px;
  }

  &__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 45px;
  }

  &__additional-info{
    display: flex;
    align-items: center;
  }

  &__author{
    display: flex;
    align-items: center;
    padding-right: 56px;
    border-right: 1px solid #0000001A;
  }

  &__author-image{
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__author-img{
    width: 100%;
    border-radius: 50%;
  }

  &__author-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  &__author-edited{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #00000099;
  }

  &__cooking-time{
    display: flex;
    align-items: center;
    padding: 0 28px;
    border-right: 1px solid #0000001A;
  }

  &__cooking-time-info{
    margin-left: 10px;
  }

  &__cooking-time-title{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  &__cooking-time-time{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #00000099;
  }

  &__tags{
    padding-left: 30px;
  }

  &__tag{
    margin-left: 10px;
  }

  &__actions{
    display: flex;
    align-items: center;
  }

  &__action{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child){
      margin-right: 38px;
    }
  }

  &__action-icon{
    background-color: #E7FAFE;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__action_completed{
    path{
      fill: #ffec00;
    }
  }

  &__action-name{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    margin-top: 16px;
  }

  &__body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 80px;
    width: 100%;
  }

  &__image{
    max-width: 840px;
    border-radius: 30px;
  }

  &__img{
    width: 100%;
    border-radius: 30px;
  }

  &__nutritional-value{
    border-radius: 30px;
    background-color: #E7FAFE;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  &__nutritional-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__nutritional-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7FAFE;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  &__nutritional-item-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #00000099;
  }

  &__nutritional-item-value{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: right;
  }

  &__nutritional-disclaimer{
    margin-top: auto;
    align-self: center;
  }

  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #00000099;
  }
}

.ingredients{
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;

  &__info{
    width: 100%;
    margin-right: 40px;
  }

  &__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 48px;
  }

  &__small-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
  }

  &__item{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    margin-top: 32px;
  }

  &__ingredient{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-left: 24px;

    &_completed{
      text-decoration: line-through;
      color: #888;
    }
  }

  &__other-card{
    display: flex;
    align-items: center;
    max-width: 400px;

    &:not(:last-child){
      margin-bottom: 24px;
    }
  }

  &__other-card-image{
    flex-shrink: 0;
    width: 180px;
    border-radius: 20px;
    margin-right: 24px;
  }

  &__other-card-img{
    width: 100%;
    border-radius: 20px;
  }

  &__other-card-name{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 17px;
  }

  &__other-card-author{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
}

.steps{
  padding-bottom: 150px;
  max-width: 840px;

  &__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
  }

  &__item{
    padding-bottom: 48px;
    margin-top: 48px;
  }

  &__step-check{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__step {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 24px;

    &_completed{
      text-decoration: line-through;
      color: #888;
    }
  }

  &__step-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #00000099;
    padding-left: 48px;

    &_completed{
      text-decoration: line-through;
      color: #888;
    }
  }
}

.other{
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 80px;
  }

  &__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 290px));
    grid-auto-rows: 1fr;
    justify-content: space-between;
    width: 100%;
  }
}

.comments{
  padding-bottom: 150px;
  width: 100%;

  &__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__comment{
    padding: 20px 0 10px 0;
  }

  &__author{
    display: flex;
    align-items: center;
  }

  &__author-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__author-img{
    width: 100%;
    border-radius: 50%;
  }

  &__author-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__author-added{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
  }

  &__comment-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding-left: 52px;
    margin-top: 5px;
  }

  &__form {
    max-width: 100%;
    font-family: Arial, sans-serif;
    margin-top: 64px;
  }

  &__form-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
    margin-bottom: 4px;
  }

  &__form-group {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    min-height: 100px;
  }

  &__btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #4338CA;
    font-size: 14px;
    background-color: #EEF2FF;
  }

}

.item-check{
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &:checked{
    background-color: #3D9A25;
  }
}

.item-label{

}
